@import '~@angular/material/theming';
@import 'variables.scss';
@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@include mat-core();

$ressacaapp-primary: mat-palette($mat-indigo);
$ressacaapp-accent: mat-palette($mat-pink, A200, A100, A400);
$ressacaapp-warn: mat-palette($mat-red);
$ressacaapp-theme: mat-light-theme((color: (primary: $ressacaapp-primary,
      accent: $ressacaapp-accent,
      warn: $ressacaapp-warn,
    )));
@include angular-material-theme($ressacaapp-theme);

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  max-width: 100%;
  max-height: 100%;
  background-color: lightgray;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.h-100vh {
  height: 100vh;
}

.primary-color {
  color: var(--primary-color) !important;
}

.secondary-color {
  color: var(--secondary-color) !important;
}

.primary-bg-color {
  background-color: var(--primary-color) !important;
}

.secondary-bg-color {
  background-color: var(--secondary-color) !important;
}
